/* Effects this HTML element's CSS */
iframe {
  border: 2px solid #689067;
  border-radius: 10px;

  width: 560px;
  height: 400px;

  margin: auto;
  display: grid;
  place-items: center;
}

.spacing {
  margin-bottom: 10px;
}

/* Effects this HTML class CSS */
.multiple-c {
  border: 2px solid #689067;
  border-radius: 10px;
  width: fit-content;
  padding: 10px;
  margin: auto;
  display: grid;
  place-items: center;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  cursor: pointer;
  padding: 5px;
}

/* Highlights the MC option the user selects */
li.selected {
  background-color: #cceeff;
}

/* Highlights the correct answer in green */
li.correct {
  background-color: #d4edda;
}

/* Highlights the incorrect options in red */
li.incorrect {
  background-color: #f8d7da;
}

/* CSS for Side Dongle */

.container {
  position: relative;
  height: 2000px;
}

.side-dongle {
  position: fixed;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  padding: 10px;
  border-radius: 5px;
}

.buttons:hover {
  background-color: #689067;
  border-radius: 10px;
}
