<div class="flex-col pt-20">
  <div class="signup">
    <!-- Add comments later -->
    <form [formGroup]="form" (ngSubmit)="submit()" class="py-10 px-7">
      <!-- -->
      <input
        type="text"
        placeholder="Email"
        formControlName="email"
        required
        claSS="mb-2 mt-2 w-full rounded-lg border-[#689067] px-1 border-2 bg-[#f6f0ea] focus:outline-[#689067] placeholder-[#689067]"
      />
      <!-- -->
      <input
        type="password"
        placeholder="Password"
        formControlName="password"
        required
        class="w-full rounded-lg border-[#689067] px-1 border-2 bg-[#f6f0ea] focus:outline-[#689067] placeholder-[#689067]"
      />
      <!-- -->
      <input
        type="password"
        placeholder="Confirm Password"
        formControlName="password2"
        required
        class="mt-2 w-full rounded-lg border-[#689067] px-1 border-2 bg-[#f6f0ea] focus:outline-[#689067] placeholder-[#689067]"
      />
      <!-- -->
      <button
        class="submit mx-auto mt-4 w-158 text-white bg-[#689067] rounded-lg"
        (click)="reset()"
      >
        Reset
      </button>
      <!-- -->
      <button
        class="submit mx-auto mt-2 text-white bg-[#689067] rounded-lg"
        (click)="submit()"
      >
        Submit
      </button>
    </form>
  </div>
</div>
