/* Effects this HTML element's CSS */
iframe {
  border: 2px solid #333;
  border-radius: 10px;

  width: 560px;
  height: 315px;

  margin: auto;
  display: grid;
  place-items: center;
}

/* Effects this HTML class CSS */
.multiple-c {
  border: 2px solid #333;
  border-radius: 10px;

  width: 250px;

  padding: 10px;
  margin: auto;
  display: grid;
  place-items: center;
}

  ul {
    list-style-type: none;
    padding: 0;
  }

  li {
    cursor: pointer;
    padding: 5px;
  }

  /* Highlights the MC option the user selects */
  li.selected {
    background-color: #cceeff;
  }
