<nav class="nav-bar">
  <div class="nav-bar-container">
    <div class="nav-bar-buttons">
      <button 
        routerLink="/home" 
        routerLinkActive="active" 
        class="buttons">
        Home
      </button>
      <button
        routerLink="/module"
        routerLinkActive="active"
        class="buttons"
      >
        Module Selection
      </button>
      <button
        routerLink="/calculator"
        routerLinkActive="active"
        class="buttons"
      >
        Budget Calculator
      </button>
      <button
        routerLink="/login"
        routerLinkActive="active"
        class="buttons"
        id="login-button"
      >
        Login
      </button>
    </div>
  </div>
</nav>
<router-outlet> </router-outlet>
