<br/>

<!-- Side Dongle Code -->

<div class="side-container">
  <div class="side-dongle">
    <!-- Dynamically generate all the VideoAndQuizzes links in this module -->
    <p>Module {{ currentModuleId }}</p>
    <ul>
      <li *ngFor="let module of modules">
        <a [routerLink]="['/module', currentModuleId, 'videoandquizzes', module]">Video And Quiz {{ module }}</a>
      </li>
    </ul>
  </div>
</div>


<!-- Embedded YouTube video -->
<iframe [src]="videoURL" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>

<!-- Adds space (breaks) between video and quiz -->
<br/>
<br/>

<!-- Displays quiz questions and options -->

<div *ngFor="let question of questions; let i = index">
  <div class="multiple-c">
    <p>{{ question }}</p>
      <ul>
        <li *ngFor="let option of options[i][1]; let j = index"
        (click)="onSelectOption(option, i)"
        [class.selected]="selectedOptions[i] === option"
        >
          {{ option }}
        </li>
      </ul>
  </div>
  <br/>
</div>

<!-- Button that navigates to matching card game page -->

<div>
  <button (click)="navigateToCards()" class="buttons">
    Matching Card Game
  </button>
</div>

<router-outlet></router-outlet>
