/* Effects this HTML element's CSS */
form {
  width: 300px;

  margin: auto;
  display: grid;
  place-items: center;
}

/* Effects all CSS for class="signup" */
.signup {
  border: 2px solid #333;
  border-radius: 10px;

  width: 300px;

  margin: auto;
  display: grid;
  place-items: center;
}

/* Effects all CSS for class="submit" */
.submit {
  width: 160px;

  margin: auto;
  display: grid;
  place-items: center;
}
