<!-- Renders module selection page -->
<div class="container" *ngIf="currentURL === '/module'">
    <button *ngFor="let moduleId of moduleIDs" (click)="navigateToModule(moduleId)">
      Module {{ moduleId }}
    </button>
</div>

<!-- Renders module/:id pages -->
<div *ngIf="currentURL.startsWith('/module') && isNumeric(currentURL.split('/')[2])">

  <!-- Renders module/:id/cards -->
  <ng-container *ngIf="currentURL.endsWith('/cards')">
    <!-- Load your cards component here -->
    <app-cards></app-cards>
  </ng-container>

  <!-- Renders module/:id/videoandquizzes/:id -->
  <ng-container *ngIf="!currentURL.endsWith('/cards')">
    <!-- Load your default component here -->
    <app-video-and-quizzes></app-video-and-quizzes>
  </ng-container>

</div>

<router-outlet></router-outlet>