<nav class="nav-bar">
  <div class="nav-bar-container">
    <div class="nav-bar-buttons">
      <div class="pr-20 text-[#689067] text-2xl font-semibold">RETIREWISE</div>
      <button routerLink="/home" routerLinkActive="active" class="buttons">
        Home
      </button>
      <button routerLink="/module" routerLinkActive="active" class="buttons">
        Module Selection
      </button>
      <a href="http://localhost:8081/" class="href">
        <button>
          Budget Calculator
        </button>
      </a>
      <div class="flex-1"></div>  
      <button
        routerLink="/login"
        routerLinkActive="active"
        class="buttons"
        id="login-button"
        *ngIf="!loggedIn"
      >
        Login
      </button>
      <button
        class="buttons"
        id="logout-button"
        *ngIf="loggedIn"
        (click)="logout()"
      >
        Logout
      </button>
    </div>
  </div>
</nav>
<div>
  <router-outlet> </router-outlet>
</div>
