.nav-bar {
  height: auto;
}

.nav-bar-container {
  background-color: #f6f0ea;
  border-bottom: 2px solid;
  border-bottom-color: #689067;
}

.nav-bar-buttons {
  display: flex;
  margin-left: 100px;
  margin-right: 100px;
  justify-content: center;

  align-items: center;
}

.buttons {
  background-color: #f6f0ea;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 20px;
  padding-bottom: 20px;
  border-right: none;
  border-bottom: none;
  border-top: none;
  cursor: pointer;
  margin-bottom: 5px;
  margin-top: 5px;
}

.buttons:hover {
  background-color: #689067;
  border-radius: 10px;
}
